<div class="cp_movie">

	{% if elements['CP_MOVIE']['ELEMENT'] %}
	
		<h2>{{ elements['CP_MOVIE']['TITLE'] }}</h2>
		
		{% if elements['CP_MOVIE']['BODY'] %}
			<p>{{ elements['CP_MOVIE']['BODY'] | raw }}</p>
		{% endif %}
	
		{% set poster = '' %}
		
		{% if elements['CP_MOVIE']['PICTURE'] %}
			{% set poster = elements['CP_MOVIE']['PICTURE'] %}	
		{% endif %}		
	
		<div class="movie">
			<video src="{{ elements['CP_MOVIE']['ELEMENT'].getUri() }}" poster="{{ poster }}" controls>
				Sorry, Your browser doesn't support the video format.
				<br /><a href="{{ elements['CP_MOVIE']['ELEMENT'].getUri() }}">However, you can download the videofile instead.</a> 
			</video>
			
			<p>{{ elements['CP_MOVIE']['ELEMENT'].getDescription() }}</p>
			
		</div>
		
	{% endif %}	
	
</div>	