<div id="cp_blogs_list">

	<h1 class="page-title">{{ elements['page_title'] }}</h1>
	
	{% for year, element in elements['year'] %}
		<div class="blogs_list">
			<div class="panel-group" id="accordion_{{ year }}" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading_{{ year }}">
						<a role="button" data-toggle="collapse" data-parent="#accordion_{{ year }}" href="#collapse_{{ year }}" aria-expanded="true" aria-controls="collapse_{{ year }}">
							<h4 class="panel-title">
								{{ year }}
							</h4>
						</a>
					</div>
					<div id="collapse_{{ year }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_{{ year }}">
						<div class="panel-body">
			      
							{% for blog in element %}
								<div class="element">
									<div class="date"> {{ blog.getChanged() }} </div>
									<div class="title"><a href="/blog/{{ blog.getId() }}"> {{ blog.getTitle() }} </a></div>
								</div>
							{% endfor %}      
			      
						</div>
					</div>
				</div>
			</div>
		</div>		
	{% endfor %} 	

</div>
