<h1 class="page-title">{{ elements['page_title'] }}</h1>


<div class="cp_blog">

	<div class="date">{{ elements['blog'].getChanged() }}</div>
	
	<div class="title">{{ elements['blog'].getTitle() }}</div>
	
	{% if elements['blog'].getPictureUri() %}
		<div class="text"><img src="{{ elements['blog'].getPictureUri() }}" alt="{{ elements['blog'].getPictureTitle() }}" title="{{ elements['blog'].getPictureTitle() }}" />{{ elements['blog'].getBody() | raw  }}</div>
		
	{% else %}
		<div class="text">{{ elements['blog'].getBody() | raw  }}</div>
		
	{% endif %} 
	
	<div class="share">
		<a href="javascript:void(0)" 
			class="social_share_button social_share_twitter" 
			onclick="shareTwitterBlog( {{ elements['blog'].getId() }}, '{{ elements['blog'].getTitle() }}', '{{ elements['site_home'] }}' )">
		</a>
		
		<a href="javascript:void(0)" 
			class="social_share_button social_share_linkedin" 
			onclick="shareLinkedinBlog( {{ elements['blog'].getId() }}, '{{ elements['site_home'] }}' )">
		</a>
	</div>
	
</div>


<div class="recent_cp_blogs">

	<h4>Recent blogs</h4>
	
	<ul>
	
	{% for blog in elements['recent_blogs'] %}
		<li>
			<div class="blog">
				<div class="date">{{ blog.getChanged() }}</div>
		
				<div class="title"><a href="/blog/{{ blog.getId() }}">{{ blog.getTitle() }}</a></div>
			</div>	
		</li>
	{% endfor %}
		
	</ul>
	
	<div><a href="/blogs/{{ elements['blog_category'] }}">More blog posts</a></div>

</div>
