{#
/**
 * @file
 * Theme implementation for a community_resource node in full view mode.
 *
 * Copied from teaser, not currently intended for public view, but possibly exposed.
 *
 * Available variables: see node.html.twig
 */
#}
{%
    set classes = [
        'node',
        'node--type-' ~ node.bundle|clean_class,
        view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
        'col',
    ]
%}
{% set resource_url = content.field_cpcommhub_link[0] %}

<div class="row mb-5">
    <div class="col-lg-4 col-md-6 col-sm-8 col-10">
        <article{{ attributes.addClass(classes) }}>
            <a href="{{ resource_url }}" class="hide-external" target="_blank" tabindex="-1">
                <div class="teaser-news-image d-flex justify-content-center">
                    {{ content.field_cpcommhub_image }}
                </div>
            </a>

            {{ content.body }}

            <a href="{{ resource_url }}" class="btn btn-outline-primary" target="_blank">
                {{ node.field_cpcommhub_link.0.title ?: 'Go to resource' }}
                {% if node.field_cpcommhub_restricted.value %}
                    <i class="fas fa-lock text-primary ms-1" data-bs-toggle="tooltip" title="{{ 'Restricted access'|t }}"></i>
                {% endif %}
            </a>
        </article>
    </div>
</div>