{#
/**
 * @file
 * Theme implementation for a community_resource node in full/default view mode.
 *
 * This page is used for admin and editing purposes. Catalogue visitors are
 * directed straight to the external resource URL from the teaser card.
 *
 * Available variables: see node.html.twig
 */
#}

<div{{ attributes }}>
    <div{{ content_attributes }}>
        <div class="row">
            <div class="col-lg-8 my-4">
                {{ content.field_cpcommhub_image }}
                {{ content.body }}
            </div>
            <div class="col-lg-4 my-4 d-flex flex-column">
                <a class="no-external btn btn-primary border-0 px-4 py-2 mb-4 mx-auto fs-4"
                   href="{{ content.field_cpcommhub_link[0] }}"
                   target="_blank"
                   rel="noopener noreferrer">
                    {{ content.field_cpcommhub_link_text }}
                    <i class="fa-solid fa-arrow-right-long"></i>
                </a>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {{ content.field_cpcommhub_user_groups }}
                        {{ content.field_cpcommhub_scope }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
