
<div class="contact">
{% if contact.field_cp_contact_photo.value is empty %}
	<img class="picture" src="{{ default_picture }}">
{% else %}
	{% set image = {
		'#theme':      'responsive_image',
		'#responsive_image_style_id': 'contact',
		'#uri':        contact.field_cp_contact_photo.entity.uri.value,
		'#alt':        contact.field_cp_contact_photo.alt,
		'#attributes': { class: 'picture' },
	} %}
	{{ image }}
{% endif %}
	<div class="contact-details">
		<div class="title">{{ contact.field_cp_contact_title.value }}</div>
		<div class="name">{{ contact.title.value }}</div>
		<div class="educational-title">{{ contact.field_educational_title.value }}</div>
		<ul class="tasks">
		{% for task in contact.field_work_tasks %}
			<li class="task">{{ task.value }}</li>
		{% endfor %}
		</ul>
		{% if contact.field_cp_contact_email.value is not empty %}
		<div class="email"><i class="fas fa-envelope me-2"></i>{{ contact.field_cp_contact_email.value }}</div>
		{% endif %}
		{% if contact.field_cp_contact_phone.value is not empty %}
		<div class="phone"><i class="fas fa-phone me-2"></i>{{ contact.field_cp_contact_phone.value }}</div>
		{% endif %}
		{% if contact.field_twitter_username is not empty %}
		<div class="twitter"><i class="fab fa-twitter me-2"></i><a href="https://twitter.com/{{ contact.field_twitter_username.value }}">@{{ contact.field_twitter_username.value }}</a></div>
		{% endif %}
	</div>
</div>