<div class="cp_event">

	{% if user.hasPermission('edit any cp_event content') %}
	<div class="edit_this">
		<a href="/node/{{ elements['event'].getId() }}/edit?destination=node/{{ elements['event'].getId() }}">
			Edit this
		</a>
	</div>
	{% endif %}

	<div class="full_event">

		<div class="title">{{ elements['event'].getTitle() }}</div>

		<div class="event-date">
			<div class="from_date">{{ elements['event'].getFromDate() }}</div>

			{% if elements['event'].getToDate() %}
				<span class="date_separator">to</span>
				<div class="to_date">{{ elements['event'].getToDate() }}</div>
			{% endif %}
		</div>

		{% if elements['event'].getPictureUri() %}
			<div class="text"><img src="{{ elements['event'].getPictureUri() }}" alt="{{ elements['event'].getPictureTitle() }}" title="{{ elements['event'].getPictureTitle() }}" />{{ elements['event'].getBody() | raw  }}</div>

		{% else %}
			<div class="text">{{ elements['event'].getBody() | raw  }}</div>

		{% endif %}

		{% if elements['event'].getLinkUri() %}
			<div class="link"><a href="{{ elements['event'].getLinkUri() }}">{{ elements['event'].getLinkTitle() }}</a></div>
		{% endif %}

	</div>

</div>
