{#
/**
 * @file
 * Theme implementation to display a two-column layout using colored boxes and responsive flex layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'layout',
    'layout--colored-flex',
    'row',
    'justify-content-between',
    'gap-3',
  ]
%}

{%
  set left_classes = [
    'layout__region',
    'layout__region--left',
    'col-lg',
    'bg-primary',
    'text-light',
    'rounded',
  ]
%}

{%
  set right_classes = [
    'layout__region',
    'layout__region--right',
    'col-lg',
    'rounded',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.left %}
      <div{{ region_attributes.left.addClass(left_classes) }}>
        {{ content.left }}
      </div>
    {% endif %}
    {% if content.right %}
      <div{{ region_attributes.right.addClass(right_classes) }}>
        {{ content.right }}
      </div>
    {% endif %}
  </div>
{% endif %}
