{#
/**
 * @file
 * Theme implementation to display a full page width, one-column layout with a light blue background.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}


{%
  set classes = [
    'layout',
    'layout--video'
  ]
%}

{%
  set text_classes = [
    'layout__region',
    'layout__region--text'
  ]
%}

{%
  set video_1080p = settings.video_url_1080p ?? "https://static.icos-cp.eu/videos/video1-1080p.mp4"
  set video_720p = settings.video_url_720p ?? "https://static.icos-cp.eu/videos/video1-720p.mp4"
  set video_480p = settings.video_url_480p ?? "https://static.icos-cp.eu/videos/video1-480p.mp4"
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <video autoplay disablepictureinpicture loop muted playsinline id="fp-video">
      <source src="{{ video_1080p }}" type="video/mp4" media="(width > 1280px)">
      <source src="{{ video_720p }}" type="video/mp4" media="(width > 854px)">
      <source src="{{ video_480p }}" type="video/mp4" media="(width > 767px)">
    </video>
    <div class="text-overlay position-relative">
      {% if content.text %}
        <div>
          <div{{ region_attributes.text.addClass(text_classes) }}>
            {{ content.text }}
          </div>
        </div>
      {% endif %}
      <button
        type="button"
        id="toggle-video"
        class="d-none btn btn-outline-light rounded-circle position-absolute justify-content-center align-items-center"
        style="bottom: 3rem; right: 3rem; height: 45px; width: 45px;"><i class="fas fa-pause"></i></button>
    </div>
  </div>

  <script>
    function initVideoToggle() {
      const video = document.getElementById("fp-video");
      const button = document.getElementById("toggle-video");
      const pauseIcon = button.children[0];
      const playIcon = document.createElement("i");
      playIcon.classList.add("fas", "fa-play");
      button.classList.remove("d-none");
      button.classList.add("d-flex");

      button.addEventListener("click", (event) => {
        if (video.paused) {
          playVideo();
          localStorage.removeItem("videoPaused");
        } else {
          pauseVideo();
          localStorage.setItem("videoPaused", "paused");
        }
      });

      if (localStorage.getItem("videoPaused")) {
        pauseVideo();
      }

      function pauseVideo() {
        video.pause();
        button.removeChild(pauseIcon);
        button.appendChild(playIcon);
      }

      function playVideo() {
        video.play()
        button.removeChild(playIcon);
        button.appendChild(pauseIcon);
      }
    }
    const videoEl = document.getElementById("fp-video");
    if (videoEl.readyState === 4) {
      initVideoToggle();
    } else {
      videoEl.addEventListener("loadeddata", initVideoToggle);
    }
  </script>
{% endif %}
