<div class="cp_media">

	{% if elements['CP_MEDIA']['VIDEO'] %}
	
		<h2>{{ elements['CP_MEDIA']['ELEMENT'].getTitle() }}</h2>
		
		<p>{{ elements['CP_MEDIA']['ELEMENT'].getText() | raw }}</p>
	
		{% set poster = '' %}
		
		{% if elements['CP_MEDIA']['PICTURE'] %}
			{% set poster = elements['CP_MEDIA']['ELEMENT'].getPictureUri() %}	
		{% endif %}		
	
		<div class="video">
			<video src="{{ elements['CP_MEDIA']['ELEMENT'].getVideoUri() }}" poster="{{ poster }}" controls>
				Sorry, Your browser doesn't support the video format.
				<br /><a href="{{ elements['CP_MEDIA']['ELEMENT'].getVideoUri() }}">However, you can download the videofile instead.</a> 
			</video>
			<p>{{ elements['CP_MEDIA']['ELEMENT'].getVideoDescription() }}</p>
		</div>
		
	{% endif %}	
	
</div>	