<div class="cp_media_latest">

	{% if elements['CP_MEDIA']['MOVIE'] %}
	
		<h2>{{ elements['CP_MEDIA']['ELEMENT'].getTitle() }}</h2>
	
		{% set poster = '' %}
		
		{% if elements['CP_MEDIA']['PICTURE'] %}
			{% set poster = elements['CP_MEDIA']['ELEMENT'].getPictureUri() %}	
		{% endif %}		
	
		<div class="media">
		
			<div class="text">
				{{ elements['CP_MEDIA']['ELEMENT'].getBody() | raw }}
			</div>
			
			<video src="{{ elements['CP_MEDIA']['ELEMENT'].getMovieUri() }}" poster="{{ poster }}" controls>
				Sorry, Your browser doesn't support the video format.
				<br /><a href="{{ elements['CP_MEDIA']['ELEMENT'].getMovieUri() }}">However, you can download the videofile instead.</a> 
			</video>
			
			<p class="desc">
				{{ elements['CP_MEDIA']['ELEMENT'].getMovieDescription() }}
			</p>
			
		</div>
		

		
	{% endif %}	
	
</div>	